.swiper{
    width: 100%;
    height: 30%;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
}

.swiper .swiper-pagination .swiper-pagination-bullet{
    color: #fff;
}
